<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <title>Co-Builders</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendors/animate-css/animate.css">
    <!-- main css -->
    <link rel="stylesheet" href="/css/style-content.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>
<body>

    <!--================Header Menu Area =================-->
    
    <input type="checkbox" id="check-btn">
    <label for="check-btn">
        <i class="fas fa-bars" id="open-btn"></i>
        <i class="fas fa-times" id="close-btn"></i>
    </label>
    <div class="sidebar">
        <header>Co-builders</header>
        <ul>
            <li><a href="/customer/dashboard">Dashboard</a></li>
            <li><a href="/customer/<%=currentUser._id %>/profile">Profile</a></li>
            <li><a href="#">Project <i class="fa fa-caret-down"></i></b></a>
                <ul>
                    <li><a href="/customer/<%=currentUser._id %>/project">Requirements</a></li>
                    <% if(currentUser.active_proj_cont.length ==0){%>

                        <%} else {%>
                            
                                <li><a href="/customer/<%=currentUser._id%>/contractor">Contractor Details</a></li>
                                 <%}%>
                </ul>
            </li>
            <li><a href="/customer/logout">Logout</a></li>
        </ul>
    </div>
    <!-- <nav class="navbar navbar-dark fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a href="/">
                    Co-builders
                </a>
            </li>
            <li>
                <a href="/customer/dashboard">Dashboard</a>
            </li>
            <li  class="active-li">
                <a href="/customer/<%=currentUser._id %>/profile">Profile</a>
            </li>
            
            <li>
                <a href="#">Project</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="/customer/logout">Logout</a>
            </li>
        </ul>
    </nav> -->
    <div class="container mt-1 " style="width:550px;">
        <% if(error && error.length>0){ %>
          <div class="alert alert-danger text-center " role="alert">
              <%=error%>
            </div>
        <%} %>
        <% if(success && success.length>0){ %>
          <div class="alert alert-success text-center " role="alert">
              <%=success%>
            </div>
        <%} %>
        
      </div>

<!--================Header Menu Area =================-->