<% include ./partials/customerHeader %>

<section id="Dashboard" class="dash_banner_area">
    <div class="container">
        <h1>List of contractors</h1>
        <% contractoreDetail.forEach(function(contractor){ %>
        <div class=" card dash_content">
            <div class="card-body align-items-center">
                <h3>Name: <%=contractor.username%></h3>
                <p>Contractor Id: <%=contractor.contractorid%></p>
                <p>Email: <%=contractor.email%></p>
                <p>Experience: <%=contractor.experience%></p>
                <a href="/customer/contractor/<%=contractor._id%>/"><input type="submit" class="btn btn-primary btn-lg" value="See More">
                </a>
            </div>
        </div>   
        <%})%>
    </div>
</section>
