<% include ./partials/customerHeader %>

<section id="Dashboard" class="dash_banner_area">
    <div class="container">
        <% if(currentUser.requirements==null){%>
            <div class="jumbotron ">
                <p class="lead">Hi <%=currentUser.username%> please fill in your requirement details </p>
                <a class="btn btn-primary btn-lg" href="/customer/<%=currentUser._id%>/profile/edit" role="button">Edit</a>
            </div>
            
        <%} else if(contractoreDetail.length==0){ %>
            <div class="jumbotron ">
                <h1>List of contractors</h1>
                <p class="lead">Sorry there are no contractor to display right now, come back later </p>
            </div>
        <%} else{%>
            <h1>List of contractors</h1>
        <% contractoreDetail.forEach(function(contractor){ %>   
            <% if(currentUser.contractor.length==0){%>
                <div class=" card dash_content">
                    <div class="card-body align-items-center">
                        <h3>Name: <%=contractor.username%></h3>
                        <p>Contractor Id: <%=contractor.contractorid%></p>
                        <p>Email: <%=contractor.email%></p>
                        <p>Experience: <%=contractor.experience%></p>
                        <a href="/customer/contractor/<%=contractor._id%>/"><input type="submit" class="btn btn-primary btn-lg" value="See More">
                        </a>
                    </div>
                </div>   
            <%}else{%>
               
                <%currentUser.contractor.forEach(function(cont){ %>
                    <%console.log(cont)%>
                    <%console.log(contractor._id)%>
                    <% if(cont.toString()==contractor._id.toString()){%>
                       
                     <%} else {%>
                        <div class=" card dash_content">
                            <div class="card-body align-items-center">
                                <h3>Name: <%=contractor.username%></h3>
                                <p>Contractor Id: <%=contractor.contractorid%></p>
                                <p>Email: <%=contractor.email%></p>
                                <p>Experience: <%=contractor.experience%></p>
                                <a href="/customer/contractor/<%=contractor._id%>/"><input type="submit" class="btn btn-primary btn-lg" value="See More">
                                </a>
                            </div>
                        </div>   
                    <%} });%>
        <%}}); }%>
    </div>
</section>
