<% include ./partials/customerHeader %>
<section id="project" class="project_edit_area"> 


    <div class="container">
        <div class="edit_header">
            <h3><i class="fas fa-user-edit"></i> Edit Project Requirements</h3>
        </div>
            <form action="/customer/<%=currentUser._id%>/project?_method=PUT" method="POST">
                <div class="form-group">
                    <label>Location of construction site</label>
                       <textarea class="form-control" name="customer[location]" rows="5" minlength="20" maxlength="1000"  ><%= currentUser.location %></textarea>
                </div>
                   
                <div class="form-row align-items-center">
                     <div class="col-auto my-1">
                    <label  for="inlineFormCustomSelect">Budget for the construction</label>
                    
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="customer[budget]" >
                        <option value="5,00,000 to 10,00,000" n>5,00,000 to 10,00,000</option>
                        <option value="10,00,000 to 20,00,000">10,00,000 to 20,00,000</option>
                        <option value="20,00,000 to 30,00,000">20,00,000 to 30,00,000</option>
                        <option value="30,00,000+">30,00,000+</option>
                    </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Total Area in square feets</label>
                    <input type="text" class="form-control" name="customer[area]" value="<%=currentUser.area%>">
                </div>
                  
                <div class="form-group">
                    <label>Give a description about your project</label>
                    <textarea class="form-control" name="customer[requirements]" rows="5" minlength="20" maxlength="100"  ><%= currentUser.requirements %></textarea>
                </div>
                <div class="container">
                    <div class="edit_additional">
                        <h3>Specify your requirements</h3>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-lg-4 col-sm-6">
                            <div class="form-row align-items-center">
                                <div class="col-auto my-1">
                                <label  for="inlineFormCustomSelect">Requirements</label>
                                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="customer[reqselect]" value="<%=currentUser.reqselect%>" >
                                    <option value="1-BHK" >1-BHK</option>
                                    <option value="2-BHK">2-BHK</option>
                                    <option value="3-BHK">3-BHK</option>
                                </select>
                               </div>
                           </div>
                        </div>
                       
                        <div class="col-lg-4 col-sm-6">
                            <div class="form-row align-items-center">
                                <div class="col-auto my-1">
                                    <label>Bathroom</label> 
                                    <select class="custom-select mr-sm-2" id="bathroomid" name="customer[bathRoomreq]" value="<%=currentUser.bathRoomreq%>"> 
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="3+">3+</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
   
            <div class="container">
                <div class="edit_additional">
                    <h3>Additional Requirements</h3>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-lg-4 col-md-4 col-sm-2">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="defaultChecked1" name="customer[prayerRoomreq]" checked>
                            <label class="custom-control-label" for="defaultChecked1">Prayer Room</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-2">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="defaultChecked2" name="customer[studyRoomreq]" >
                            <label class="custom-control-label" for="defaultChecked2">Study Room</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-2">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="defaultChecked3" name="customer[diningRoomreq]" checked>
                            <label class="custom-control-label" for="defaultChecked3">Dining Room</label>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-lg-4 col-md-4 col-sm-2">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="defaultChecked4" name="customer[workAreareq]" checked>
                            <label class="custom-control-label" for="defaultChecked4">Work Area</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-2">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="defaultChecked5" name="customer[utilityRoomreq]" >
                            <label class="custom-control-label" for="defaultChecked5">Utility Room</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-2">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="defaultChecked6" name="customer[carPorchreq]" >
                            <label class="custom-control-label" for="defaultChecked6">Car Porch</label>
                        </div>
                    </div>
                </div>
            </div>
          
          
            <div class="form-group shadow-textarea">
                <label for="exampleFormControlTextarea6">Additional Discription</label>
                <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" name="customer[additionalreq]" placeholder="Write something here..."><%= currentUser.additionalreq %></textarea>
              </div>
    
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg">Update</button>
                </div>
           </form>
        </div>
        
    </section>
                   
    