<% include ../partials/customerHeader %>
<section id="contractor_details" class="details_banner_area">
    <div class="container">
        <h1>Profile Details</h1>
        <div class=" card dash_content">
            <div class="card-body align-items-center">
                <h3>Name: <%=contractorDetail.username%></h3>
                <p>Contractor Id: <%=contractorDetail.contractorid%></p>
                <p>Email: <%=contractorDetail.email%></p>
                <p>Experience: <%=contractorDetail.experience%></p>
                <p>Contact No.:<%= contractorDetail.mobile ;%></p>    
                <p>Number of years of experience:<%= contractorDetail.experience ;%></p>
                <p>Office Address:<%= contractorDetail.address; %></p>    
                <p>Criteria Details:<%= contractorDetail.criteria; %></p>  
                <h3>Customer Reviews</h3>
                <hr class="my-1">  
                <% if(!contractorDetail.feedback){%>
                    <%contractorDetail.feedback.forEach(function(feedback){%>
                        <div class="card">
                            <div class="card-body align-items-center">
                                <p class="lead font-weight-bold"><%=feedback.customerName%>: <%=feedback.headline%></p>
                                <hr class="my-1">  
                                <p class="font-weight-normal">Review: <%=feedback.review%></p>
                            </div>
                        </div>    
                    <%});%>
                <%}else{%>
                    <div class="jumbotron ">
                        <p class="lead">There are no reviews available</p>
                    </div>
                <%}%> 
                <% if(contractorDetail.active_proj_cust.length!=0){ %>
                    <% contractorDetail.active_proj_cust.forEach(function(activcust){ %>
                        <% if(activcust.toString()==currentUser._id.toString()){ %>
                        
                        <%}else{%>
                            <form action="/customer/contractor/<%=contractorDetail._id%>" method="post">
                                <input type="submit" class="btn btn-primary btn-lg" value="Submit"> 
            
                            </form>
                        <%}%>    
                <%});}else{%> 
                <form action="/customer/contractor/<%=contractorDetail._id%>" method="post">
                    <input type="submit" class="btn btn-primary btn-lg" value="Submit"> 

                </form>
                <%}%>
            </div>
        </div>   
    </div>
</section>

<% include ../partials/footer %>