<% include ../partials/customerHeader %>
<section id="Dashboard" class="dash_banner_area">
    <div class="container">

        <% if(!contractorDetail){ %>
            <div class="jumbotron ">
                <h1>List of contractors</h1>
                <p class="lead">Sorry there are no contractor to display right now, come back later </p>
            </div>
        <%} else if(contractorDetail.length>1){%>
                <h1>List of contractors</h1>
                <% contractorDetail.forEach(function(contractor){ %>   
                    <div class=" card customer_dash_content">
                        <div class="card-body align-items-center">
                            <h3>Name: <%=contractor.username%></h3>
                            <p>Contractor Id: <%=contractor.contractorid%></p>
                            <p>Email: <%=contractor.email%></p>
                            <p>Experience: <%=contractor.experience%></p>
                            <div class="container ">
                                <div class="row pb-2">
                                    <div class="col-lg-3">
                                        <a href="/customer/contractor/<%=contractor._id%>/"><input type="submit" class="btn btn-primary btn-lg" value="Profile"></a>
                                    </div>
                                    <div class="col-lg-3">
                                        <a href="/customer/<%=contractor._id%>/plan"><input type="submit" class="btn btn-info btn-lg" value="Project Plan"></a>
                                    </div>
                                    <div class="col-lg-3">
                                        <a href="/customer/chat/<%=contractor._id%>"><input type="submit" class="btn btn-primary btn-lg" value="Chat"></a>
                                    </div>
                                    <div class="col-lg-3">
                                        <a href="/customer/<%=contractor._id%>/budget"><input type="submit" class="btn btn-info btn-lg" value="Budget"></a>
                                    </div>
                                </div>
                                <%if(project.length>1){%>
                                    <%project.forEach(function(project){%>
                                        <%if(contractor.project.toString()==project._id.toString()){%>
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <a href="#"><input type="submit" class="btn btn-info btn-lg" value="3D View"></a>
                                                </div>
                                                <%if(project.flags.scheduleStatus){%>
                                                    <div class="col-lg-3">
                                                        <%if(project.flags.contractorComplete||project.flags.customerComplete||project.flags.complete){%>
                                                            <a href="#"><input type="submit" class="btn btn-info btn-lg disabled" value="Complete"></a>
                                                        <%}else{%>
                                                            <form action="/customer/<%=project._id%>/complete" method="post">
                                                                <button type="submit" class="btn btn-success btn-lg">Complete</button> 
                                                            </form>
                                                        <%}%> 
                                                    </div>
                                                    <%}else{%> 
                                                        <div class="col-lg-3">
                                                            <a href="#"><input type="submit" class="btn btn-success btn-lg disabled" value="Complete"></a>
                                                        </div>                                
                                                     <%}%>
                                                
                                                    <%if(currentUser.projectStatus){%>
                                                       
                                                     
                                                    <%}else{%>
                                                    <div class="col-lg-3">
            
                                                        <form action="/customer/<%=project._id%>/cancel" method="post">
                                                            <button type="submit" class="btn btn-danger btn-lg">Cancel</button> 
                                                        </form>
                                                    </div>                      
                                                    <%}%>                                     
                                                     <div class="col-lg-3">
                                                       <a href="/customer/<%=project._id%>/feedback"><input type="submit" class="btn btn-info btn-lg" value="Feedback"></a>                            
                                                    </div>
                                                </div>
                                            
                                       <% }%>
                                        
                                    <%})%>
                                <%}%>
                                
                            </div>
                        </div>
                    </div>   
        <%})} else{%>   
            <h1>List of contractors</h1>
            <div class=" card customer_dash_content">
                <div class="card-body align-items-center">
                    <h3>Name: <%=contractorDetail.username%></h3>
                    <p>Contractor Id: <%=contractorDetail.contractorid%></p>
                    <p>Email: <%=contractorDetail.email%></p>
                    <p>Experience: <%=contractorDetail.experience%></p>
                    <div class="container ">
                        <div class="row pb-2">
                            <div class="col-lg-3">
                                <a href="/customer/contractor/<%=contractorDetail._id%>/"><input type="submit" class="btn btn-primary btn-lg" value="Profile"></a>
                            </div>
                            <div class="col-lg-3">
                                <a href="/customer/<%=contractorDetail._id%>/plan"><input type="submit" class="btn btn-info btn-lg" value="Project Plan"></a>
                            </div>
                            <div class="col-lg-3">
                                <a href="/customer/chat/<%=contractorDetail._id%>"><input type="submit" class="btn btn-primary btn-lg" value="Chat"></a>
                            </div>
                            <div class="col-lg-3">
                                <a href="/customer/<%=contractorDetail._id%>/budget"><input type="submit" class="btn btn-info btn-lg" value="Budget"></a>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-lg-3">
                                <a href="#"><input type="submit" class="btn btn-info btn-lg" value="3D View"></a>
                            </div>
                            <%if(project.flags.scheduleStatus){%>
                                <div class="col-lg-3">
                                    <%if(project.flags.contractorComplete||project.flags.customerComplete||project.flags.complete){%>
                                        <a href="#"><input type="submit" class="btn btn-info btn-lg disabled" value="Complete"></a>
                                    <%}else{%>
                                        <form action="/customer/<%=project._id%>/complete" method="post">
                                            <button type="submit" class="btn btn-success btn-lg">Complete</button> 
                                        </form>
                                    <%}%> 
                                </div>
                            <%}else{%> 
                                <div class="col-lg-3">
                                    <a href="#"><input type="submit" class="btn btn-success btn-lg disabled" value="Complete"></a>
                                </div>                                
                            <%}%>
                            
                                <%if(currentUser.projectStatus){%>
                                           
                                 
                                <%}else{%>
                                <div class="col-lg-3">

                                    <form action="/customer/<%=project._id%>/cancel" method="post">
                                        <button type="submit" class="btn btn-danger btn-lg">Cancel</button> 
                                    </form>    
                                </div>

                                <%}%>     
                            <div class="col-lg-3">
                                <a href="/customer/<%=project._id%>/feedback"><input type="submit" class="btn btn-info btn-lg" value="Feedback"></a>                            
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="container">
                        <%if(project.flags.customerComplete||project.flags.customerCancel){%>
                            <div class="alert alert-success">
                                <h4 class="alert-heading">Project Complete</h4>
                                <p>Waiting for contractor to accept the request. Message him to do so</p>
                                </div>
                        <%}else if(project.flags.contractorComplete){%>
                            <div class="alert alert-success">
                                <h4 class="alert-heading">Project Complete</h4>
                                <p>Contractor has sent request saying project has ended</p>
                                <p>Please Make sure <b>everything is complete</b> before clicking complete</p>
                                <div class="row">
                                    <div class="m-1">
                                        <form action="/customer/<%=project._id%>/complete" method="post">
                                            <button type="submit" class="btn btn-success btn-lg">Complete</button> 
                                        </form>
                                    </div>
                                    <div class="m-1">
                                        <form action="/customer/<%=project._id%>/incomplete" method="post">
                                            <button type="submit" class="btn btn-danger btn-lg">Cancel</button> 
                                        </form>
                                    </div>                       
                                </div>
                                </div>
                                <%}else if(project.flags.contractorCancel){%>
                                    <div class="alert alert-success">
                                        <h4 class="alert-heading">Cancellation Request</h4>
                                        <p>Contractor has sent request to cancel the project</p>
                                        <p>Contact the Contractor before making a decision</p>
                                        <div class="row">
                                            <div class="m-1">
                                                <form action="/customer/<%=project._id%>/cancel" method="post">
                                                    <button type="submit" class="btn btn-success btn-lg">Accept</button> 
                                                </form>
                                            </div>
                                            <div class="m-1">
                                                <form action="/customer/<%=project._id%>/reject" method="post">
                                                    <button type="submit" class="btn btn-danger btn-lg">Reject</button> 
                                                </form>
                                            </div>                       
                                        </div>
                                    </div>
                        <%}else if(project.flags.complete){%>
                            <div class="alert alert-success">
                                <h4 class="alert-heading">Project Complete</h4>
                                <p>This project has been completed</p>
                                </div>
                        <%}%>
                </div>
                
            </div> 
        <%}%>    
    </div>
</section>        

<% include ../partials/footer %>
