<% include ../partials/customerHeader %>
<section id="Dashboard" class="dash_banner_area">
    <div class="container">

        <% if(!contractorDetail){ %>
            <div class="jumbotron ">
                <h1>List of contractors</h1>
                <p class="lead">Sorry there are no contractor to display right now, come back later </p>
            </div>
        <%} else if(contractorDetail.length>1){%>
                <h1>List of contractors</h1>
                <% contractorDetail.forEach(function(contractor){ %>   
                    <div class=" card customer_dash_content">
                        <div class="card-body align-items-center">
                            <h3>Name: <%=contractor.name%></h3>
                            <p><span class="font-weight-bold">Username: </span><%=contractor.username%></p>
                            <p><span class="font-weight-bold">Email: </span><%=contractor.email%></p>
                            <p><span class="font-weight-bold">Experience: </span><%=contractor.experience%></p>
                            <div class="container ">
                                <div class="row pb-2">
                                    <div class="col-lg-3">
                                        <a href="/customer/contractor/<%=contractor._id%>/"><input type="submit" class="btn btn-primary btn-lg" value="Profile"></a>
                                    </div>
                                    <div class="col-lg-3">
                                        <a href="/customer/history/<%=contractor._id%>/plan"><input type="submit" class="btn btn-info btn-lg" value="Project Plan"></a>
                                    </div>
                                    <div class="col-lg-3">
                                        <a href="/customer/chat/<%=contractor._id%>"><input type="submit" class="btn btn-primary btn-lg" value="Chat"></a>
                                    </div>
                                    <div class="col-lg-3">
                                        <a href="/customer/history/<%=contractor._id%>/budget"><input type="submit" class="btn btn-info btn-lg" value="Budget"></a>
                                    </div>
                                </div>
                                
                                <%if(project.length>1){%>

                                    <%project.forEach(function(project){%>
                                        <%contractor.contractorProject.forEach(function(contproject){%>
                                          
    
                                            <%if(contproject.toString()==project._id.toString()){%>
    
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <a href="http://127.0.0.1:8000/example/"><input type="submit" class="btn btn-info btn-lg" value="3D View"></a>
                                                    </div>
                                                    <div class="col-lg-3">
                                                            <a href="#"><input type="submit" class="btn btn-info btn-lg disabled" value="Complete"></a>
                                                    </div>                            
                                                        <div class="col-lg-3">
                                                        <a href="/customer/<%=project._id%>/feedback"><input type="submit" class="btn btn-info btn-lg" value="Feedback"></a>                            
                                                    </div>
                                                </div>
                                            
                                                <div class="container">
                                            
                                                    <div class="alert alert-success">
                                                        <h4 class="alert-heading">Project Complete</h4>
                                                        <p>This project has been completed</p>
                                                        </div>
                                                </div>
                                           <% }%>
                                        <%})%>
                                        
                                        
                                    <%})%>
                                <%}%>
                                
                            </div>
                        </div>
                    </div>   
        <%})} else{%>   
            <h1>List of contractors</h1>
            <div class=" card customer_dash_content">
                <div class="card-body align-items-center">
                    <h3>Name: <%=contractorDetail.name%></h3>
                    <p><span class="font-weight-bold">Username: </span><%=contractorDetail.username%></p>
                    <p><span class="font-weight-bold">Email: </span><%=contractorDetail.email%></p>
                    <p><span class="font-weight-bold">Experience: </span><%=contractorDetail.experience%></p>
                    <div class="container ">
                        <div class="row pb-2">
                            <div class="col-lg-3">
                                <a href="/customer/contractor/<%=contractorDetail._id%>/"><input type="submit" class="btn btn-primary btn-lg" value="Profile"></a>
                            </div>
                            <div class="col-lg-3">
                                <a href="/customer/history/<%=contractorDetail._id%>/plan"><input type="submit" class="btn btn-info btn-lg" value="Project Plan"></a>
                            </div>
                            <div class="col-lg-3">
                                <a href="/customer/chat/<%=contractorDetail._id%>"><input type="submit" class="btn btn-primary btn-lg" value="Chat"></a>
                            </div>
                            <div class="col-lg-3">
                                <a href="/customer/history/<%=contractorDetail._id%>/budget"><input type="submit" class="btn btn-info btn-lg" value="Budget"></a>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-lg-3">
                                <a href="http://127.0.0.1:8000/example/"><input type="submit" class="btn btn-info btn-lg" value="3D View"></a>
                            </div>
                                <div class="col-lg-3">
                                        <a href="#"><input type="submit" class="btn btn-info btn-lg disabled" value="Complete"></a>
                                </div>

                            <div class="col-lg-3">
                                <a href="/customer/<%=project._id%>/feedback"><input type="submit" class="btn btn-info btn-lg" value="Feedback"></a>                            
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="container">
                            <div class="alert alert-success">
                                <h4 class="alert-heading">Project Complete</h4>
                                <p>This project has been completed</p>
                            </div>                   
                </div>
                
            </div> 
        <%}%>    
    </div>
</section>        

<% include ../partials/footer %>
