<% include ../partials/contractorHeader %>
 
<!-- maybe use only a single file for chat -->

<section id="Dashboard" class="dash_banner_area">
    
    <div class="container">
        <br>
        <div class="jumbotron">
            <h1 class="display-4"><%= customer.username %> Chat</h1>
            <hr class="my-4">
            <br>
            <div id="messages">
              <% if(message.messages){%>
                <p><%=message.sender%>: <%=message.messages%> </p>
              <%} else {%>
              
              <%}%>
            </div>
            <br>
            <form action="/contractor/chat/<%=message._id%>" method="POST">

              <p class="lead" ><%= currentUser.username %></p>

              <br>
              <textarea id = "message" class="form-control" name="chat[messages]" placeholder="Your Message Here">
              </textarea>
              <br>
                <button id="send" class="btn btn-success">Send</button>
            </form>
        </div>
       
    </div>
</section>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script>
  
</script>

<% include ../partials/contractorFooter %>
