<% include ../partials/contractorHeader %>
<section id="Profile" class="profile_area">
    <div class="container">
        <div class="profile_header">
            <h3><a href="/contractor/<%=currentUser._id%>/profile/edit"><i class="fas fa-edit"></i></a>Profile</h3>
        </div>
        <div class=" card profile_content">
                <div class="card-body  row profile_details align-items-center">
                    <div class="col-lg-5 .d-none d-lg-block">
                        <div class="profile_image">
                            <img src="/img/default-user.jpg"  alt="Profile image">
                        </div>
                        <div class="profile_name">
                            <p>User Name:<%= currentUser.username ;%></p>
                            <p>Name:<%= currentUser.name ;%></p>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="profile_information">
                            <h4>Information</h4>
                            <p>Email:<%= currentUser.email ;%></p>
                            <p>Contact No.:<%= currentUser.mobile ;%></p>    
                            <p>Number of years of experience:<%= currentUser.experience ;%></p>    
                            <p>Date of Joining:<%= currentUser.dateOfJoin.toDateString() ;%></p>    
                            <% if(currentUser.budget){ %>
                                <p>Minimum Budget:<%= currentUser.budget; %></p>    
                            <%} %>
                            <% if(currentUser.no_project){ %>
                                <p>Number of Projects worked on:<%= currentUser.no_project; %></p>    
                            <%} %>
                            <% if(currentUser.address){ %>
                                <p>Office Address:<%= currentUser.address; %></p>    
                            <%} %>
                            <% if(currentUser.criteria){ %>
                                <p>Criteria Details:<%= currentUser.criteria; %></p>    
                            <%} %>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>

<% include ../partials/contractorFooter %>
