<% include ../partials/contractorHeader %>
<section id="customer" class="plan_area">
    <div class="container">
        <% if(!project.planDate.length){%>
            <div class="jumbotron ">
                <p class="lead">Hi please Create a Plan Schedule </p>
                <a href="/contractor/<%=project._id%>/project/schedule/edit"><input type="submit" class="btn btn-primary btn-lg" value="Edit"></a>
            </div>
        <%}%>
            <div class="plan_fullcontent">
                <div class="container ">

                <h2>Task Schedule</h2>
                    <hr class="my-4">  
                    <div class="row plan_heading">
                        <div class="col-lg-3">
                            <h3>Date</h3>
                        </div>
                        <div class="col-lg-6">
                            <h3>Task to Do</h3>
                        </div>
                        <div class="col-lg-3">
                            <h3>Status</h3>
                        </div>
                    </div>
                    <hr class="my-1">  
                    
                    <% project.planDate.forEach(function(plan){%>
                        <div class="plan-content">

                                <div class="row">
                                    <div class="col-lg-3">
                                        <p id="date"><%=plan.day%></p>
                                    </div>
                                    <div class="col-lg-6">
                                        <p ><%=plan.plan%></p>
                                    </div>
                                    <% if(!plan.Status){%>

                                       
                                        <div class="col-lg-2">
                                        
                                            <div class="px-1 mb-1 bg-info text-white">Not Complete</div>
                                        </div>
                                    <%}else{%>
                                        <div class="col-lg-3">
                                            <div class="p-3 mb-2 bg-success text-white">.bg-success</div>

                                        </div>
                                    <%}%>
                                </div>

                        </div>
                    <%})%>
                    <a href="/contractor/<%=project._id%>/project/schedule/edit"><input type="submit" class="btn btn-primary btn-lg" value="Edit"></a>
                  
                       
                </div>    
            </div>
            
            <!-- <div class="container">
                <p class="lead">Create Task Schedule <a id="add" href="#"><i class="far fa-plus-square"></i></a></p>
                    <hr class="my-4">  
                    <form action="/contractor/<%=project._id%>/project/schedule" method="post">
                        <div class="plan">
                            <div class="plan-create">
                                <div class="form-row justify-content-md-center">
                                    <div class="col-lg-3">
                                        <input type="date" name="planDate[day]">
                                    </div> 
                                    <div class="col-lg-9">
                                        <input type="text" name="planDate[plan]"  maxlength="65" class="form-control" placeholder="Task Detail" >
                                    </div>           
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                        </div>
                    </form>
            </div> -->
        
    </div>
</section>    

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

<% include ../partials/contractorFooter %>
<script>
    
    var planDate = document.querySelectorAll("#date");
    var dnow     = moment().format("YYYY-MM-DD");

    dateChecker();
    function dateChecker(){
        planDate.forEach(function(planDate){
            var tempDate = moment(planDate.innerHTML).format('YYYY-MM-DD');
            console.log(tempDate);
           console.log(moment(tempDate).isBefore(dnow));
        //    if(moment(tempDate).isBefore(dnow))
            // console.log(planDate.innerHTML);
            // console.log(moment(planDate.innerHTML, "YYYYMMDD").fromNow());
            // if(moment(planDate.innerHTML, "YYYYMMDD").fromNow()<"12 hours") // 8 years ago
            // {
            //     console.log("working");
            // }
       
    });
}
</script>



