<% include ../partials/contractorHeader %>
<section id="customer" class="plan_area">
    <div class="container">
        <% if(!project.planDate.length){%>
            <div class="container">
                <p class="lead">Create Task Schedule <a id="add" href="#"><i class="far fa-plus-square"></i></a></p>
                    <hr class="my-4">  
                    <form action="/contractor/<%=project._id%>/project/schedule" method="post">
                        <div class="plan">
                            <div class="plan-create">
                                <div class="form-row justify-content-md-center">
                                    <div class="col-lg-3">
                                        <input type="date" name="planDate[day]">
                                    </div> 
                                    <div class="col-lg-9">
                                        <input type="text" name="planDate[plan]"  maxlength="65" class="form-control" placeholder="Task Detail" >
                                    </div>           
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                        </div>
                    </form>
            </div>
        
        <%}else{%>
            <div class="plan_fullcontent">
                <div class="container ">

                <h2>Task Schedule</h2>
                    <hr class="my-4">  
                    <div class="row plan_heading">
                        <div class="col-lg-3">
                            <h3>Date</h3>
                        </div>
                        <div class="col-lg-6">
                            <h3>Task to Do</h3>
                        </div>
                        <div class="col-lg-3">
                            <h3>Status</h3>
                        </div>
                    </div>
                    <hr class="my-1">  
                    <form id="schedule_edit-form" action="/contractor/<%=project._id%>/project/schedule/edit" method="POST">
                        <% project.planDate.forEach(function(plan){%>
                            <div class="plan-content">
    
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <p id="date"><%=plan.day%></p>
                                        </div>
                                        <div class="col-lg-6">
                                            <p ><%=plan.plan%></p>
                                        </div>
                                        <div class="col-lg-2">
                                            <input type="checkbox" class="custom-control-input" id="<%=plan.plan%>" name="<%=plan.plan%>" onclick='buildlist("<%=plan.plan%>","<%=plan.plan%>");'>
                                            <label class="custom-control-label" name="<%=plan.plan%>" for="<%=plan.plan%>"type="hidden" value="<%=plan.plan%>"></label>                            
                                            
                                        </div>
                                    </div>
    
                            </div>
                        <%})%>
                        <div class="form-group">
                            <button  type="submit" class="btn btn-primary btn-lg">Complete</button>
                        </div>
                    </form>
                    
                       
                </div>    
            </div>
            
            <div class="container">
                <p class="lead">Create Task Schedule <a id="add" href="#"><i class="far fa-plus-square"></i></a></p>
                    <hr class="my-4">  
                    <form action="/contractor/<%=project._id%>/project/schedule" method="post">
                        <div class="plan">
                            <div class="plan-create">
                                <div class="form-row justify-content-md-center">
                                    <div class="col-lg-3">
                                        <input type="date" name="planDate[day]">
                                    </div> 
                                    <div class="col-lg-9">
                                        <input type="text" name="planDate[plan]"  maxlength="65" class="form-control" placeholder="Task Detail" >
                                    </div>           
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg">Create</button>
                        </div>
                    </form>
            </div>
        <%}%>
</section>    

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

<% include ../partials/contractorFooter %>
<script>
    
    
    
    function buildlist(listName,labelName){
        var controls = document.getElementsByName(listName);
        var label = document.getElementsByName(labelName);
        label.value = '';
        for(var i=0;i<controls.length;i++){
            label += controls[i].value.toString()+',';
        }
    }

   
    var dnow     = moment().format("YYYY-MM-DD");

    dateChecker();
    function dateChecker(){
        planDate.forEach(function(planDate){
            var tempDate = moment(planDate.innerHTML).format('YYYY-MM-DD');
            console.log(tempDate);
           console.log(moment(tempDate).isBefore(dnow));
        //    if(moment(tempDate).isBefore(dnow))
            // console.log(planDate.innerHTML);
            // console.log(moment(planDate.innerHTML, "YYYYMMDD").fromNow());
            // if(moment(planDate.innerHTML, "YYYYMMDD").fromNow()<"12 hours") // 8 years ago
            // {
            //     console.log("working");
            // }
       
    });
}
</script>



